<div class="row footer">
  <div class="col-md-6">
    <p>© yafoy - <%= Time.now.year %></p>
  </div>
  <div class="col-md-3">
    <ul>
      <li><%= link_to 'Applications', applications_path %></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><%= link_to 'Import orders', import_orders_path %></li>
    </ul>
  </div>
</div>