<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to "Orders", orders_path %></li>
    <li><%= link_to "Applications", applications_path %></li>
  </ul>
  <h3 class="text-muted">QueenBee</h3>
</div>