@import "variables";

/* Layout
* --------------------------------
*/
body {
	padding-top: 20px;
  padding-bottom: 20px;
  background: $grey; // #161616;
  color: #e2edf2; // #707070;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-container {
	max-width: 900px;

	.header {
		margin-bottom: 30px;
		border-bottom: 1px solid #e5e5e5;

		.text-muted {
			color: #d65c00;
		}

		h3 {
			padding-bottom: 19px;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 40px;
		}
	}
}

.footer {
	padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  ul li {
    list-style-type: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

a {
  color: $orange-light;

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}
