@import "variables";

/* Layout
* --------------------------------
*/
body {
	padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $grey;
  background-color: $blue-navy;
}

.navbar-inverse {
	background: $black;
	border-color: $blacker;
}

.main-container {
	margin-top: 100px;
}

.footer {
	padding-top: 19px;
  color: #777;
  border-top: 1px solid $brown;

  ul li {
    list-style-type: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
}
