@import "variables";

.push-menu {
  position: fixed;
  right: -250px;
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 1000;
  margin-top: 50px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: $black;

  &.push-menu-open {
    right: 0px;
  }

  h4 {
  	margin-bottom: 20px;
  }

  .event {
    margin-bottom: 20px;
    border-bottom: 1px solid $grey-blue;
    line-height: 1.5em;
  }
}

// Orders#index
.stats {
	background: $grey;
	color: #fff;
	margin-bottom: 40px;

	a {
		color: $yellow;
		&:hover { color: $yellow-dark; }
	}
}

#chart-1 { margin-bottom: 40px; }
