$black:        #1a1c22;
$blacker:      #1a1c22;
$blue:         #1ca8dd;
$blue-navy:    #252830;
$blue-dark:    #137499;
$green:        #1bc98e;
$grey:         #cfd2da;
$grey-blue:    #434857;
$red:          #c7254e;
$yellow:       #f4c63d;
