$orange:       #ff6e00;
$orange-dark:  #d65c00;
$orange-light: #ff8b33;
$grey:         #453d3f;
$grey-dark:    #242628;
$yellow:       #f4c63d;
$yellow-dark:  #e7ad0d;
$brown:        #5b4421;
$cream:        #eadbc4;
$red:          #d70206;


$black:        #1a1c22;
$blacker:      #1a1c22;
$blue:         #1ca8dd;
$blue-navy:    #252830;
$blue-dark:    #137499;
$grey:         #cfd2da;
$grey-blue:    #434857;
$red:          #c7254e;
